@import "@packages/tailwind/src/main.css" prefix(chat);

@theme {
    --animate-show: show 0.1s ease-out forwards;

    @keyframes show {
        %0 {
            opacity: 0%;
            transform: translateY(50%);
        }
        100% {
            opacity: 100%;
            transform: translateY(0%);
        }
    }
}
